body{
    background-color: #f9e4ca;
    height: 100vh;
}

.header{
    border: 5px solid ;
    display: flex;
    height: 10vh;
}

nav{
    padding-left: 3%;
}

.box {
    width:200px;
    height:200px;
    border:1px solid;
    background:
      radial-gradient(farthest-side,yellow 32%,yellow 90% ,purple 93%, purple 96%,transparent) left center/60px 60px,
      radial-gradient(farthest-side,yellow 96%,transparent) bottom left/80px 80px,
      radial-gradient(farthest-side,green  96%,transparent) top right/80px 80px,
      radial-gradient(farthest-side,blue   96%,transparent) 100px 50px/100px 100px,
      radial-gradient(farthest-side,red    96%,transparent) top left/40px 40px;
      /* the circle                                          position / size */
    background-repeat:no-repeat;
  }

.sidenav {
    height: 100%;
    width: 226px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d8c8b3;
    overflow-x: hidden;
    padding-top: 139px;
  }

  .sidenav a {
    display: flex;
    justify-content: end;
    padding: 14px 46px 6px 19px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    line-height: 40px;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

.name{
    padding-left: 27%;
}

.mainContainer{
    height: 90vh;
}

.aboutMe{
    border: 5px solid;
    padding: 20pt;
    height: 299pt;
    width: 446pt;
    position: absolute;
    top: 30%;
    left: 55%;
    /* transform: translate(-70%,-75%); */
}

.name{
    display: flex;
    align-items: flex-end;
}

h1{
    font-size: 30px;
    padding-top: 35pt;
}

h2{
    padding-top: 10pt;
    padding-left: 10pt;
}

p.innerText{
    padding-top: 20pt;
}

.rectangle{
    height: 600px;
    width: 490px;
    background-color: #ac824a;
    position: absolute;
    top: 0%;
    left: 25%;
}

img{
    height: 523px;
    width: 490px;
    position: absolute;
    top: 30%;
    left: 25%;
    /* transform: translate(-30%,-25%); */
    border-radius: 2838px 2867px 0px 0px;
}